<footer class="footer">
   <span class="company"> Atul Raj</span>

     <nav class="footer-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/user/profile">Profile</a></li>
     </nav>
</footer>