<section class="auth-box"> 
<h1>Sign In</h1>
<p>Welcome to the Codeial</p>
<form action="/user/create-session" method="POST" class="form-design">
 
      <input type="email" placeholder="Email" name="email" required>
      <input type="password" placeholder="Password" name="password" required>
       <button type="submit">SignIn</button>

</form>
    <p>
          <a href="/user/auth/google">Google</a>
    </p>
</section>
