<h1>Sign In </h1>


<form action="/user/create-session" method="POST">
 
      <input type="email" placeholder="Email" name="email" required>
      <input type="password" placeholder="Password" name="password" required>
      <input type="submit" value="Sign In">

</form>