.footer {
    display: flex;
    background-color:lightslategray;

    

}

.company{

       display: inline-block;
       padding: 20px;
       color: white;
}
.footer-nav{

      display: flex;
      align-items: center;
      margin-left: auto;

      li{
           list-style: none;
           padding: 10px;

           a{

               text-decoration: none;
               color: white;
           }
           a:hover{
               color: yellowgreen;
           }

           a:active{
            background-color: gold;
        }
      }

}